<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DuoLect</title>
</head>
<body>

    <form action="/languagesSend" method="post">
        <label for="languages">Select your Target Language</label>
        
        <select name="languages" id="targetLanguages" name="target">
            <option value="English">English</option>
            <option value="French">French</option>
            <option value="Spanish">Spanish</option>
            <option value="Japanese">Japanese</option>
            <option value="Vietnamese">Vietnamese</option>
            <option value="Korean">Korean</option>
            <option value="Dutch">Dutch</option>
            <option value="Russian">Russian</option>
            <option value="Haitian Creole">Haitian Creole</option>
        </select>



        <label for="yourLanguages">Select your Native Language</label>

        <select name="yourLanguages" id="nativeLanguages" name="native">
            <option value="English">English</option>
            <option value="French">French</option>
            <option value="Spanish">Spanish</option>
            <option value="Japanese">Japanese</option>
            <option value="Vietnamese">Vietnamese</option>
            <option value="Korean">Korean</option>
            <option value="Dutch">Dutch</option>
            <option value="Russian">Russian</option>
            <option value="Haitian Creole">Haitian Creole</option>
        </select>
        <button type="submit">Submit</button>
    </form>


    <script src="/main.js" defer></script>
</body>
</html>