/* body{
  padding-top:80px;
  word-wrap:break-word;
  text-align: center;
}
img{
  height: 200px;
} */
body{
  background-color: #edf7fb;
  font-family: "roboto";
}
section{
  height: 400px;
  width: 50%;
  border: 2px solid rgb(148, 179, 195);
  border-radius: 9px;
  margin: auto;
  margin-top: 150px;
}
.centerThis{
 text-align: center;
 margin-top: 170px;
}
.centerThis2{
  text-align: center;
  margin-top: 170px;
  margin-top: 0;
 }
.move{
  margin: 10px 0 0 400px;
}
img{
  max-width: 100px;
}
